blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
distlib
filelock
Flask
fonttools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
platformdirs
PyAudio
pyparsing
python-dateutil
pytz
requests
seaborn
six
SpeechRecognition
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
Gunicorn
